<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Xender - Home</title>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="./static/assets/css/font-awesome-all.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <link href="./static/assets/css/glightbox.min.css" rel="stylesheet">

  <link rel="stylesheet" href="./static/assets/css/swiper-bundle.min.css">

  <link href="./static/assets/css/output.css" rel="stylesheet">
  <link href="./static/assets/css/customStyle.css" rel="stylesheet">
  <script src="https://js.stripe.com/v3/"></script>
  <style>
    #overlay{	
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}
.is-hide{
  display:none;
}
  </style>
</head>

<body class="bg-[#050F25]" id="body">
  
  <header class="main-header">
    <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="flex justify-between py-3">
        <div class="grow">
          <div class="flex space-x-0 md:space-x-14">

            <div class="flex items-center space-x-2">
              <i class="fa-solid fa-envelope text-new-500"></i>
              <a href="/cdn-cgi/l/email-protection#6a03040c052a0f120b071a060f44090507"
                class="text-interface-200 text-base"><span class="__cf_email__"
                  data-cfemail="84edeae2ebc4e1fce5e9f4e8e1aae7ebe9">Anandraj9249@gmail.com</span></a>
            </div>

            <div class="space-x-2 hidden md:flex items-center">
              <i class="fa-solid fa-phone text-new-500"></i>
              <a href="tel:+0168833300" class="text-interface-200 text-base">+919 9846 94243</a>
            </div>
          </div>
        </div>
        <div class="flex items-center space-x-6">
          <a href="http://" class="group transition-all text-interface-200 hover:text-new-500" target="_blank"
            rel="noopener noreferrer">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="http://" class="group transition-all text-interface-200 hover:text-new-500" target="_blank"
            rel="noopener noreferrer">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a href="http://" class="group transition-all text-interface-200 hover:text-new-500" target="_blank"
            rel="noopener noreferrer">
            <i class="fa-brands fa-youtube"></i>
          </a>
          <a href="http://" class="group transition-all text-interface-200 hover:text-new-500" target="_blank"
            rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="main-menu sticky-header">
      <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <% if (errorMessage && errorMessage.length > 0) { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Message!</strong> <%= errorMessage[0] %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% } %>

        <% if (successMessage && successMessage.length > 0) { %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Message!</strong> <%= successMessage[0] %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% } %>
        <nav class="nav nav-dev">
          <div class="nav__data">
            <a href="/" class="nav__logo">
              <img src="./static/assets/images/logo/logo-dev-m.svg" alt="">
            </a>
            <div class="nav__toggle" id="nav-toggle">
              <i class="fa-solid fa-bars nav__toggle-menu"></i>
              <i class="fa-solid fa-xmark nav__toggle-close"></i>
            </div>
          </div>
          <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">

              <li class="dropdown__item">
                <div class="nav__link ">
                  <a href="/" >Home</a>
                </div>
                
              </li>
              <li class="dropdown__item">
                <div class="nav__link ">
                  <a href="/about" >About Us</a>
                </div>
                
              </li>

              <li class="dropdown__item">
                <div class="nav__link dropdown__button">
                  Services<i class="fa-solid fa-angle-down dropdown__arrow"></i>
                </div>
                <div class="dropdown__container">
                  <ul class="dropdown__list ">
                    <li>
                      <a href="/web-development" class="dropdown__link">Web Development </a>
                    </li>
                    <li>
                      <a href="/app-development" class="dropdown__link">App Development</a>
                    </li>
                    <li>
                      <a href="Web-designing" class="dropdown__link">Website Designing</a>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="dropdown__item">
                <div class="nav__link">
                  <a href="/portfolio">Portfolio</a>
                </div>
               
              </li>
              <li class="dropdown__item">
                <div class="nav__link">
                  <a href="/blog">Blogs</a>
                </div>
               
              </li>
              <li class="dropdown__item">
                <div class="nav__link">
                  <a href="/contact">Contact Me</a>
                </div>
               
              </li>
            </ul>
          </div>
          <% if (user) { %>
            <div class="hidden xl:block">
            <a href="javascript:void()" class=" font-medium text-base group transition-all inline-flex px-6 py-3 text-interface-700 hover:text-new-500"><strong>Welcome!&nbsp;</strong> <%= user.fname %> <%= user.lname %></a>
            <a href="javascript:void()" id="logoutBtn" class="inline-flex px-6 py-3 border border-new-500 text-sm text-interface-100 rounded hover:border-transparent hover:bg-new-500 hover:text-interface-100 transition ">
              Logout
            </a>
          </div>
            <% } else { %>
            <div class="hidden xl:block">
              <a href="javascript:void(0)"
                class="bg-new-500 text-interface-100 px-6 py-3 font-medium rounded-lg inline-flex justify-center items-center group transition-all hover:bg-new-600">
                <span data-toggle="modal" data-target="#userLoginModal">Login</span>
                
              </a>
              <a href="javascript:void(0)"
                class="bg-new-500 text-interface-100 px-6 py-3 font-medium rounded-lg inline-flex justify-center items-center group transition-all hover:bg-new-600" data-toggle="modal" data-target="#userSignupModal">
                <span>Sign up</span>
              </a>
            </div>
            <% } %>
        </nav>
      </div>
    </div>
  </header>
