<%- include('./partials/other-header'); %>
  <main>

    <section class="pt-[235px] pb-[100px]" style="
          background: url('/static/assets/images/bg/brcm.jpg') no-repeat center
            center/cover;
        ">
      <div class="max-w-xs mx-auto text-center">
        <h1 class="text-5xl text-interface-100 font-semibold mb-2.5">Blog</h1>
        <ul class="flex justify-center items-center space-x-2">
          <li class="text-lg font-medium text-interface-100">Home</li>
          <li>
            <svg width="24" height="25" viewbox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 7.5L14 12.5L10 17.5" stroke="#04091E" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </li>
          <li class="text-lg font-medium text-interface-100">Blog</li>
        </ul>
      </div>
    </section>


    <section class="py-120" style="
          background: url('/static/assets/images/bg/blog-grid-bg.jpg') no-repeat top
            center;
        ">
      <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="max-w-lg mx-auto text-center mb-10">
          <h2 class="text-interface-100 font-bold text-5xl capitalize leading-snug">
            Stay up to date with our
            <span class="relative">
              <span class="relative z-20">News.</span>
              <svg class="absolute -left-1 z-0 top-2" width="154" height="48" viewbox="0 0 154 48" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M23.1499 3.58264C52.2682 3.06408 114.859 6.41368 140.53 16.0079C168.178 26.3413 132.986 39.3609 95.1579 42.9452C56.0206 46.6537 13.0901 40.3705 5.35185 30.1016C-7.71187 12.7655 48.5117 2.11385 91.9796 3.26377"
                  stroke="#DAED1A" stroke-width="6" stroke-linecap="round"></path>
              </svg>
            </span>
          </h2>
        </div>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-7">
          <article class="bg-white shadow-custom rounded p-5">
            <a href="blog-details.html" class="block mb-6 rounded">
              <img src="/static/assets/images/blogs/th-1.jpg" class="w-full" alt="Human">
            </a>
            <div class="pl-1 pr-12">
              <div class="flex space-x-2 mb-3.5">
                <a href="#" class="px-2 py-1.5 text-sm text-interface-200 bg-borderl-500 rounded-md">Digital</a>
                <a href="#" class="px-2 py-1.5 text-sm text-interface-200 bg-borderl-500 rounded-md">Marketing</a>
              </div>
              <h3 class="blog-title mb-2 text-interface-100 font-semibold text-2xl">
                <a href="blog-details.html">Organic Food Isn’t Much Better For Your Future Health.</a>
              </h3>
              <span class="text-sm text-interface-200">3 days read</span>
            </div>
          </article>
          <article class="bg-white shadow-custom rounded p-5">
            <a href="blog-details.html" class="block mb-6 rounded">
              <img src="/static/assets/images/blogs/th-2.jpg" class="w-full" alt="Human">
            </a>
            <div class="pl-1 pr-12">
              <div class="flex space-x-2 mb-3.5">
                <a href="#" class="px-2 py-1.5 text-sm text-interface-200 bg-borderl-500 rounded-md">Digital</a>
                <a href="#" class="px-2 py-1.5 text-sm text-interface-200 bg-borderl-500 rounded-md">Marketing</a>
              </div>
              <h3 class="blog-title mb-2 text-interface-100 transition font-semibold text-2xl">
                <a href="blog-details.html">The Highly Creative UI/UX Workflow from a Silicon
                  Valley.</a>
              </h3>
              <span class="text-sm text-interface-200">3 days read</span>
            </div>
          </article>
          <article class="bg-white shadow-custom rounded p-5">
            <a href="blog-details.html" class="block mb-6 rounded">
              <img src="/static/assets/images/blogs/th-3.jpg" class="w-full" alt="Human">
            </a>
            <div class="pl-1 pr-12">
              <div class="flex space-x-2 mb-3.5">
                <a href="#" class="px-2 py-1.5 text-sm text-interface-200 bg-borderl-500 rounded-md">Digital</a>
                <a href="#" class="px-2 py-1.5 text-sm text-interface-200 bg-borderl-500 rounded-md">Marketing</a>
              </div>
              <h3 class="blog-title mb-2 text-interface-100 transition font-semibold text-2xl">
                <a href="blog-details.html">Definitive Guide to Make a Daily More Productive Working
                  Flow.</a>
              </h3>
              <span class="text-sm text-interface-200">9 days read</span>
            </div>
          </article>
          <article class="bg-white shadow-custom rounded p-5">
            <a href="blog-details.html" class="block mb-6 rounded">
              <img src="/static/assets/images/blogs/th-4.jpg" class="w-full" alt="Human">
            </a>
            <div class="pl-1 pr-12">
              <div class="flex space-x-2 mb-3.5">
                <a href="#" class="px-2 py-1.5 text-sm text-interface-200 bg-borderl-500 rounded-md">Digital</a>
                <a href="#" class="px-2 py-1.5 text-sm text-interface-200 bg-borderl-500 rounded-md">Marketing</a>
              </div>
              <h3 class="blog-title mb-2 text-interface-100 font-semibold text-2xl">
                <a href="blog-details.html">Creativo Para Jóvenes: a Designer’s UI/UX Complete
                  Checklist.</a>
              </h3>
              <span class="text-sm text-interface-200">3 days read</span>
            </div>
          </article>
          <article class="bg-white shadow-custom rounded p-5">
            <a href="blog-details.html" class="block mb-6 rounded">
              <img src="/static/assets/images/blogs/th-5.jpg" class="w-full" alt="Human">
            </a>
            <div class="pl-1 pr-12">
              <div class="flex space-x-2 mb-3.5">
                <a href="#" class="px-2 py-1.5 text-sm text-interface-200 bg-borderl-500 rounded-md">Digital</a>
                <a href="#" class="px-2 py-1.5 text-sm text-interface-200 bg-borderl-500 rounded-md">Marketing</a>
              </div>
              <h3 class="blog-title mb-2 text-interface-100 transition font-semibold text-2xl">
                <a href="blog-details.html">Definitive Guide to Make a Daily More Productive Working
                  Flow.</a>
              </h3>
              <span class="text-sm text-interface-200">3 days read</span>
            </div>
          </article>
          <article class="bg-white shadow-custom rounded p-5">
            <a href="blog-details.html" class="block mb-6 rounded">
              <img src="/static/assets/images/blogs/th-6.jpg" class="w-full" alt="Human">
            </a>
            <div class="pl-1 pr-12">
              <div class="flex space-x-2 mb-3.5">
                <a href="#" class="px-2 py-1.5 text-sm text-interface-200 bg-borderl-500 rounded-md">Digital</a>
                <a href="#" class="px-2 py-1.5 text-sm text-interface-200 bg-borderl-500 rounded-md">Marketing</a>
              </div>
              <h3 class="blog-title mb-2 text-interface-100 transition font-semibold text-2xl">
                <a href="blog-details.html">The Start-Up Ultimate Guide to Make Your WordPress
                  Journal.</a>
              </h3>
              <span class="text-sm text-interface-200">9 days read</span>
            </div>
          </article>
          <article class="bg-white shadow-custom rounded p-5">
            <a href="blog-details.html" class="block mb-6 rounded">
              <img src="/static/assets/images/blogs/th-7.jpg" class="w-full" alt="Human">
            </a>
            <div class="pl-1 pr-12">
              <div class="flex space-x-2 mb-3.5">
                <a href="#" class="px-2 py-1.5 text-sm text-interface-200 bg-borderl-500 rounded-md">Digital</a>
                <a href="#" class="px-2 py-1.5 text-sm text-interface-200 bg-borderl-500 rounded-md">Marketing</a>
              </div>
              <h3 class="blog-title mb-2 text-interface-100 font-semibold text-2xl">
                <a href="blog-details.html">Organic Food Isn’t Much Better For Your Future Health.</a>
              </h3>
              <span class="text-sm text-interface-200">3 days read</span>
            </div>
          </article>
          <article class="bg-white shadow-custom rounded p-5">
            <a href="blog-details.html" class="block mb-6 rounded">
              <img src="/static/assets/images/blogs/th-8.jpg" class="w-full" alt="Human">
            </a>
            <div class="pl-1 pr-12">
              <div class="flex space-x-2 mb-3.5">
                <a href="#" class="px-2 py-1.5 text-sm text-interface-200 bg-borderl-500 rounded-md">Digital</a>
                <a href="#" class="px-2 py-1.5 text-sm text-interface-200 bg-borderl-500 rounded-md">Marketing</a>
              </div>
              <h3 class="blog-title mb-2 text-interface-100 transition font-semibold text-2xl">
                <a href="blog-details.html">The Highly Creative UI/UX Workflow from a Silicon
                  Valley.</a>
              </h3>
              <span class="text-sm text-interface-200">3 days read</span>
            </div>
          </article>
          <article class="bg-white shadow-custom rounded p-5">
            <a href="blog-details.html" class="block mb-6 rounded">
              <img src="/static/assets/images/blogs/th-9.jpg" class="w-full" alt="Human">
            </a>
            <div class="pl-1 pr-12">
              <div class="flex space-x-2 mb-3.5">
                <a href="#" class="px-2 py-1.5 text-sm text-interface-200 bg-borderl-500 rounded-md">Digital</a>
                <a href="#" class="px-2 py-1.5 text-sm text-interface-200 bg-borderl-500 rounded-md">Marketing</a>
              </div>
              <h3 class="blog-title mb-2 text-interface-100 transition font-semibold text-2xl">
                <a href="blog-details.html">Definitive Guide to Make a Daily More Productive Working
                  Flow.</a>
              </h3>
              <span class="text-sm text-interface-200">9 days read</span>
            </div>
          </article>
        </div>

        <ul class="flex justify-end space-x-2 mt-12">
          <li class="group">
            <a href="#"
              class="w-10 h-10 transition border group-hover:bg-pblue-500 group-hover:border-transparent border-[#f1f1f1] rounded-lg inline-flex justify-center items-center"><svg
                class="fill-interface-100 group-hover:fill-white" width="16" height="16" viewbox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M10.06 12L11 11.06L7.94667 8L11 4.94L10.06 4L6.06 8L10.06 12Z"></path>
              </svg>
            </a>
          </li>
          <li class="group">
            <a href="#"
              class="w-10 h-10 text-sm font-medium text-interface-200 transition border group-hover:bg-pblue-500 group-hover:border-transparent group-hover:text-white border-[#f1f1f1] rounded-lg inline-flex justify-center items-center">1
            </a>
          </li>
          <li class="group">
            <a href="#"
              class="w-10 h-10 text-sm font-medium text-interface-200 transition border group-hover:bg-pblue-500 group-hover:border-transparent group-hover:text-white border-[#f1f1f1] rounded-lg inline-flex justify-center items-center">2
            </a>
          </li>
          <li class="group">
            <a href="#"
              class="w-10 h-10 text-sm font-medium text-interface-200 transition border group-hover:bg-pblue-500 group-hover:border-transparent group-hover:text-white border-[#f1f1f1] rounded-lg inline-flex justify-center items-center">...
            </a>
          </li>
          <li class="group">
            <a href="#"
              class="w-10 h-10 text-sm font-medium text-interface-200 transition border group-hover:bg-pblue-500 group-hover:border-transparent group-hover:text-white border-[#f1f1f1] rounded-lg inline-flex justify-center items-center">10
            </a>
          </li>
          <li class="group">
            <a href="#"
              class="w-10 h-10 transition border group-hover:bg-pblue-500 group-hover:border-transparent border-[#f1f1f1] rounded-lg inline-flex justify-center items-center">
              <svg class="fill-interface-100 group-hover:fill-white" width="16" height="16" viewbox="0 0 16 16"
                fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.94 4L6 4.94L9.05333 8L6 11.06L6.94 12L10.94 8L6.94 4Z"></path>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </section>

  </main>
  <%- include('./partials/other-footer'); %>