<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rest Password</title>
</head>

<body>
    <div class="">
        <div class="aHl"></div>
        <div id=":op" tabindex="-1"></div>
        <div id=":oe" class="ii gt"
            jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc3MTMyNDQyNTgxOTg0MzU5MyIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsW11d; 4:WyIjbXNnLWY6MTc3MTMyNDQyNTgxOTg0MzU5MyIsbnVsbCxbXV0.">
            <div id=":od" class="a3s aiL msg1750849940249454300">
                <u></u>
                <div>
                    <table align="center" height="100%" width="690" border="0" cellspacing="0" cellpadding="0"
                        bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif !important">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr bgcolor="#ffffff">
                                                <td align="center" width="100%">
                                                    <table align="center" width="690" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" height="16" colspan="2"></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" width="300">
                                                                    <a href="https://www.freelancer.com/?uniqid=52413471-52248-64b029b2-d0c86de3&amp;linkid=0"target="_blank"data-saferedirecturl="https://www.google.com/url?q=https://www.freelancer.com/?uniqid%3D52413471-52248-64b029b2-d0c86de3%26linkid%3D0&amp;source=gmail&amp;ust=1689353029485000&amp;usg=AOvVaw3ER6lJlscAn1VvaDa404N6">
                                                                        <img src="https://ci5.googleusercontent.com/proxy/HSKvEA_t5jZlK64L2fSB4QFS2gc1Ck5mznJBFAQQed3g0S2sm5ida1qsArN6xQ0DKdKtsKWPZPixoDPxwopHUPA48j2vGA4UOzS3UGl_sk18uFICDUb9TiBgvjYYxCsgDHsA6v5q__NH-YceruenUsSMDUgYbf4FW7AkbORqShMDqtgsbcWFkl35a9ASr3sfxchowrWaLpIQaPgi5fgGXI-_A-jFWXLrY2_DWg=s0-d-e1-ft#https://cdn5.f-cdn.com/img/email-images/common/logo_300.png?v=834faebc40fa464bac75aca01de49a50&amp;m=6&amp;buildVersion=d077eb376f8368304ee3df0bcfdbfc8f19ed3aa9" alt="Freelancer" border="0" width="150" style="display: block" class="CToWUd" data-bit="iit" />
                                                                    </a>
                                                                </td>
                                                                <td width="300" align="right" valign="middle" style=" color: #75787d; text-decoration: none; font-size: 14px; line-height: 18px; font-family: Helvetica, Arial, sans-serif;">
                                                                    <span style="font-weight: bold">Notification</span><br/>
                                                                    <%= date %>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="100%" height="16" colspan="2"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" width="100%">
                                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style=" border: 1px solid #dedede; border-radius: 3px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" valign="top">
                                                                    <table width="560" align="center" border="0"
                                                                        cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="100%" height="56"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" width="100%"
                                                                                    style="text-align: left">
                                                                                    <table align="center" border="0"
                                                                                        cellpadding="0" cellspacing="0"
                                                                                        width="100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td colspan="3" height="0"></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td width="0"></td>
                                                                                                <td>
                                                                                                <span style=" color: #000000; font-family: Helvetica,   Arial, sans-serif; font-size: 22px; font-weight: bold; line-height: 1.5;">Hi <%= name %>,</span>
                                                                                                </td>
                                                                                                <td width="0"></td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="100%" height="24"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" width="100%" style=" color: #0e1724; text-align: left; font-family: Helvetica, Arial,   sans-serif; font-size: 16px; line-height: 28px;">
                                                                                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <span style=" color: #000000; font-family: Helvetica,   Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.5;"> 
                                                                                                        We have received a request to reset the password for your account. If you did not request to reset your password, please ignore this email.
                                                                                                    </span>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td height="24"></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td align="center"bgcolor="#daed1a">
                                                                                                                    <a href="<%= sendLink %>" style=" border: 1px   solid #daed1a; display: inline-block; padding: 13px   26px; text-decoration: none;" target="_blank" data-saferedirecturl="<%= sendLink %>">
                                                                                                                        <span style=" color: #000000; font-family: Helvetica,   Arial,   sans-serif; font-size: 16px; font-weight: bold; line-height: 1.5; ">Reset password now</span>
                                                                                                                    </a>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="100%" height="56"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td height="24"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <span style=" color: #75787d; font-family: Helvetica, Arial, sans-serif; font-size: 13px; font-weight: normal; line-height: 1.5;">
                                                        © 2023 Synotech Pvt Ltd. All Rights Reserved.
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="8"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <span style=" color: #75787d; font-family: Helvetica, Arial, sans-serif; font-size: 13px; font-weight: normal; line-height: 1.5;">
                                                        G42-B, Sanjay Gandhi Puram, Lucknow 226016, India
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="8"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <img </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="yj6qo"></div>
            <div class="yj6qo"></div>
        </div>
        <div id=":ot" class="ii gt" style="display: none">
            <div id=":ou" class="a3s aiL"></div>
        </div>
        <div class="hi"></div>
    </div>
</body>

</html>