<div class="nk-footer">
    <div class="container-fluid">
        <div class="nk-footer-wrap">
            <div class="nk-footer-copyright"> &copy; 2023 Web Xender </div>
           
        </div>
    </div>
</div>
</div>
</div>
</div>

<script src="./static/admin/assets/js/bundle.js?ver=3.0.3"></script>
<script src="./static/admin/assets/js/scripts.js?ver=3.0.3"></script>
<script src="./static/admin/assets/js/demo-settings.js?ver=3.0.3"></script>
<script src="./static/admin/assets/js/charts/chart-hotel.js?ver=3.0.3"></script>
</body>

</html>